nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footlink {
    text-decoration: none;
    color: lightskyblue;
    target: "_blank";
}

#banner1 {
    color: rgb(250, 250, 250);
    background-color: rgb(3, 3, 19);
    height: 60vh;
    display: flex;
    align-items: center;
}

.ban1text {
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    text-align: center;
}

.homeimg {
    /* Ellipse 1 */
    width: 30vw;
    left: auto;
    right: auto;
    border-radius: 50%;
    background: url(images/blockchain.png), #9266CC;
}